body {
    background-image: url('{% static "train1.jpg" %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Center the form container */
.bg-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Style the form container */
.form-container {
    background-color: rgba(236, 11, 11, 0.9);
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Style the form headings */
.form-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

/* Style form inputs and labels */
.form-floating {
    margin-bottom: 15px;
}

.form-floating label {
    color: #555;
    font-size: 14px;
}

.form-control {
    padding: 10px;
    border: 1px solid #e40909;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

/* Style the gender select box */
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    color: #555;
}

/* Style the submit button */
.btn-success {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #45A049;
}