{% extends 'base.html' %}
{% block title %}Kothin Trains | About{% endblock title %}
{% block body %}
<div class="container-fluid text-center">
    <h1 class="display-4">About Us</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <p>Welcome to our train ticketing website!</p>
            <p>Our website was created as part of our CSE216 database sessionals under the supervision of Ishrat Jahan
                Ma'm</p>
            <p><strong>The Idea</strong></p>
            <p>The idea for our project stemmed from a common problem we encountered during the rush hours of Eid
                vacation – the struggle to secure train tickets. This got us thinking about the inner workings of
                ticketing systems and how they handle the immense load of users during peak times.</p>
            <p><strong>Our Journey</strong></p>
            <p>Throughout the development of this project, we embarked on a journey of learning and exploration. We
                utilized Django for the backend, combining it with HTML, JavaScript, CSS, and Bootstrap for the
                frontend. This allowed us to gain hands-on experience in building a capable train
                ticketing platform.</p>
            <p><strong>What We've Learned</strong></p>
            <p>Our journey has been filled with valuable lessons. Under the strong guidance of Ishrat Jahan Ma'm, we
                delved deep into database management, frontend
                design, and backend development. We are immensly thankful to Ma'm for her direction and cordial support.
                Through this journey, we discovered the intricacies of handling concurrent user requests,
                the data integrity behind of websites, and the delicate art of designing websites for seamless user
                experience</p>
        </div>
    </div>
</div>
{% endblock body %}