{% extends 'base.html' %}
{% block title %}Kothin Trains | Login{% endblock title %}Kothin Trains | Login
{% block body %}
<form action="" method="post">
  {% csrf_token %}
  <h2 class="sr-only">Login Form</h2>
  <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
  <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></div>
  <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required>
  </div>
  <button class="btn btn-success rounded-pill px-3" type="submit">Login</button></div>
  <a class="forgot" href="forget_pass">Forgot password?</a>
</form>

{% if login_failed %}
<script>
  alert("Invalid login. Please check your email and password.");
</script>
{% endif %}

{% endblock body %}