{% extends 'base.html' %}
{% block title %}Kothin Trains | Registration{% endblock title %}Kothin Trains | Registration
{% block body %}
<form action="" method="post">
    {% csrf_token %}
    <h1>Registration</h1>
    <hr>
    <div class="form-group mx-10">
        <label for="name">First Name<span>*</span></label>
        <input class="form-control item" name="frst" type="text" id="name" maxlength="25" required>
    </div>
    <div class="form-group">
        <label for="name">Last Name<span>*</span></label>
        <input class="form-control item" name="last" type="text" id="name-3" maxlength="25" required>
    </div>
    <div class="form-group">
        <label for="name">Date of Birth<span>*</span></label>
        <input class="form-control" name="dob" type="date" required>
    </div>
    <div class="form-group">
        <label for="name">Gender<span >*</span></label>
        <div class="input-group">
            <select class="form-control item" name="gender" required="required">
                <option hidden="" value="">Choose Gender</option>
                <option>Male</option>
                <option>Female</option>
                <option >Other</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email<span>*</span></label>
        <input class="form-control item" type="email" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
    </div>
    <div class="form-group">
        <label for="name">NID Number<span >*</span></label>
        <input class="form-control" name="nid" type="text" pattern="\d*" title="Must contain numercial digits only" minlength="10" maxlength="17" required>
    </div>
    <div class="form-group">
        <label for="name">House Number</label>
        <input class="form-control float-left item" name="houseno" type="text" id="name-6">
        <label class="float-right" for="name">Road Number</label>
        <input class="form-control float-right item" name="roadno" type="text" id="name-5" >
    </div>
    <div class="form-group">
        <label for="name">ZIP Code</label>
        <input class="form-control item" name="zip" type="text" id="name-4" >
        <label class="float-right" for="name">City<span >*</span></label>
        <input class="form-control float-right item" name="city" type="text" id="name-1" required>
    </div>
    <div class="form-group">
        <label for="name">Contact Number<span>*</span></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">+880</span>
            </div>
            <input class="form-control" name="contact" type="tel" minlength="10" maxlength="10" pattern="\d*" title="Input can be only numbers" required>
            <div class="input-group-append"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password<span>*</span></label>
        <input class="form-control item" name="password" type="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" maxlength="15" required>
    </div>
    <div class="form-group" style="padding-bottom: 20px;">
        <label for="password">Confirm Passsword<span>*</span></label>
        <input class="form-control item" name="confirmpass" type="password" id="confirm_password" onkeypress="register()" required>
    </div>
    <button class="btn btn-success rounded-pill px-3" type="submit">Register</button>
</form>
{% if NID_Duplicate %}
<script>
    alert("User Already Exists");
</script>
{% endif %}
{% endblock body %}