{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="login-page-form">
    <div class="login-page-form-header">
        <a href="#forgot-password" class="forgot-password-link">Forgot Password?</a>
        <a href="javascript:void(0)" data-modal-target="help" class="need-help-link">Need Help?</a>
    </div>

    <div class="login-form-input-wrapper">
        <form action="https://eticket.railway.gov.bd/auth/sign-in" method="post" id="loginForm">
            <div class="login-form-control-single">
                <label for="mobile_number">Mobile Number</label>
                <input type="tel" name="mobile_number" id="mobile_number" placeholder="Enter your mobile number"
                    autocomplete="off">
            </div>

            <div class="login-form-control-single">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password"
                    autocomplete="off">
                <button class="password-show-hide-btn" type="button">
                    <img src="https://eticket.railway.gov.bd/img/icon/eye-slash-icon.svg" alt="Eye slash icon">
                </button>
            </div>

            <div class="login-form-control-single">
                <button class="login-form-submit-btn" type="submit">LOGIN</button>
            </div>

            <div class="login-page-register-link">
                <span class="login-or-reg-text">OR</span>
                <a href="https://eticket.railway.gov.bd/register/en">REGISTER</a>
            </div>
        </form>
    </div>
</div>
{% endblock body %}