{% extends 'base.html' %}
{% block title %}Kothin Train | Search Results{% endblock title %}
{% block body %}
<style>
    .hide-checkbox {
        display: none;
        /* Hide the checkboxes */
    }

    .seat input[type="checkbox"] {
        transform: scale(3);
        /* Increase the size of checkboxes */
        margin-right: 5px;
        /* Add spacing between checkboxes and labels */
        width: 40px;
        /* Adjust the width of the checkboxes */
        height: 40px;
    }

    .seat label {
        font-size: 18px;
        /* Increase the font size of seat labels */
        width: 40px;
        /* Adjust the width of the checkboxes */
        height: 40px;
    }

    .seat-layout-view {
        display: flex;
        /* Use flexbox for centering */
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
        height: 100%;
        /* Optional: Set a height to center vertically within the parent container */
    }

    .noseat {
        width: 20px;
        /* Set the desired width */
        height: 50px;
        /* Set the desired height */
        margin: 10px;
        list-style-type: none;
    }
</style>
<div class="container-fluid flex-column">
    {% if train_res %}
    {% for train in train_res %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{train.0}}</h2>
            {% comment %} <button class="btn btn-secondary" type="button">
                <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path></path>
                </svg>
            </button> {% endcomment %}
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <span class="d-block">{{train.2}}</span>
                    <span class="d-block">{{train.1}}</span>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-12">
                            <span class="d-block">{{train.13}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="d-block">{{train.4}}</span>
                    <span class="d-block">{{train.3}}</span>
                </div>
            </div>
            {% comment %} <button class="btn btn-primary" type="button">
                <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                </svg>
                <p>Train Details</p>
            </button> {% endcomment %}
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">SNIGDHA</h5>
                            <p class="card-text">{{train.12}}</p>
                            <p class="card-text">Including VAT</p>
                            <p class="card-text">Available Tickets<br>(Counter + Online) {{train.7}}</p>
                            <div class="book-now-btn-wrapper">
                                <button class="book-now-btn seatsLayout" type="button" data-train-id="{{ train.8 }}"
                                    data-seat-class="Snigdha" data-departure-date={{train.9}}>
                                    BOOK NOW
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">S_CHAIR</h5>
                            <p class="card-text">{{train.11}}</p>
                            <p class="card-text">Including VAT</p>
                            <p class="card-text">Available Tickets<br>(Counter + Online) {{train.5}}</p>
                            <div class="book-now-btn-wrapper">
                                <button class="book-now-btn seatsLayout" type="button" data-train-id="{{ train.8 }}"
                                    data-seat-class="S_chair" data-departure-date={{train.9}}>
                                    BOOK NOW
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">SHOVAN</h5>
                            <p class="card-text">{{train.10}}</p>
                            <p class="card-text">Available Tickets<br>(Counter + Online) {{train.6}}</p>
                            <div class="book-now-btn-wrapper">
                                <button class="book-now-btn seatsLayout" type="button" data-train-id="{{ train.8 }}"
                                    data-seat-class="Shovan" data-departure-date={{train.9}}>
                                    BOOK NOW
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4">
            <div class="seat-layout-view">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container-fluid">
    <button type="button" class="btn btn-success" id="proceed">Continue</button>
</div>
{% else %}
<div class="container-fluid">
    <h1>NO TRAIN FOUND</h1>
</div>
{% endif %}
{% if not request.session.user_data.name %}
<script>
    alert('Please login first');
</script>
{% endif %}
{% endblock body %}

{% block custom_scripts %}
<script>
    $(document).ready(function () {
        var selectedSeats = []
        var train_id = ""
        var seat_class = ""
        var doj = ""
        var from_station = ""
        var to_station = ""
        function generateSeatLayout(rows) {
            var seatLayout = '<ul style="list-style: none;">';
            for (var row = 1; row <= rows; row++) {
                seatLayout += '<li><ol class="seats">';
                for (var col = 1; col <= 3; col++) {
                    var seatNumber = row + String.fromCharCode(64 + col);
                    seatLayout += `
                            <li class="seat">
                                <input type="checkbox" id="${seatNumber}" class="hide-checkbox">
                                <label for="${seatNumber}">${seatNumber}</label>
                            </li>
                            `;
                }
                seatLayout += `
                            <li class="noseat hide">
                                <input type="checkbox" id="" class="hide-checkbox corridor-space">
                            </li>
                            `;
                for (var col = 4; col <= 5; col++) {
                    var seatNumber = row + String.fromCharCode(64 + col);
                    seatLayout += `
                            <li class="seat">
                                <input type="checkbox" id="${seatNumber}" class="hide-checkbox">
                                <label for="${seatNumber}">${seatNumber}</label>
                            </li>
                            `;
                }
                seatLayout += '</ol></li>';
            }
            seatLayout += '</ul>';
            return seatLayout;
        }

        $('.book-now-btn').on('click', function () {
            // Find the parent div with class 'row'
            var parentRow = $(this).closest('.row');

            // Find the 'seat-layout-view' div within the parent 'div.row'
            var seatLayoutView = parentRow.find('.seat-layout-view');

            if (seatLayoutView.children().length > 0) {
                seatLayoutView.empty();
            } else {
                console.log('Seat layout view not found');
                train_id = $(this).data('train-id');
                seat_class = $(this).data('seat-class');
                doj = $(this).data('departure-date');
                from_station = "{{from_station}}";
                to_station = "{{to_station}}";
                var seatLayout = generateSeatLayout(5); // 2 rows and 4 columns
                // Append the seat layout to the 'seat-layout-view' div within the parent 'div.row'
                seatLayoutView = $('<div class="seat-layout-view"></div>');
                seatLayoutView.append(seatLayout);
                parentRow.append(seatLayoutView);

                $('.seat input[type="checkbox"]').on('change', function () {
                    var selectedCheckboxes = $('.seat input[type="checkbox"]:checked');
                    selectedSeats = selectedCheckboxes.map(function () {
                        return $(this).attr('id');
                    }).get();

                    console.log('Selected Seats:', selectedSeats);
                });

                $.ajax({
                    url: "{% url 'fetch_booked_seats' %}",
                    type: 'GET',
                    data: { train_id: train_id, seat_class: seat_class, departure_date: doj },
                    success: function (response) {
                        var bookedSeats = response.booked_seats;
                        console.log(bookedSeats)
                        updateSeatLayout(bookedSeats);
                    }
                });

                function updateSeatLayout(bookedSeats) {
                    // Loop through checkboxes and mark non-available seats as non-clickable
                    $('.seat input[type="checkbox"]').each(function () {
                        var seatId = $(this).attr('id');
                        var isBooked = bookedSeats.includes(seatId);

                        // Disable booked seats and add a grayed-out appearance
                        $(this).prop('disabled', isBooked);
                        if (isBooked) {
                            $(this).parent().addClass('booked-seat');
                        } else {
                            $(this).parent().removeClass('booked-seat');
                        }
                    });
                }
            }
        });
        $('#proceed').on('click', function () {
            if (selectedSeats.length > 0 && selectedSeats.length <= 4) {
                var url = "{% url 'booked_seats' %}?selectedSeats=" + selectedSeats.join(',') + "&seatClass=" + seat_class + "&trainID=" + train_id + "&from=" + from_station + "&to=" + to_station + "&doj=" + doj;
                window.location.href = url;
            }
        });

    });
</script>
{% endblock custom_scripts %}